.App {
  text-align: center;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.devbar {
  /* position: fixed; */
  margin: 0 auto;
  width: 70%;
  padding-top: 20px;
  min-width: 218px;
  max-width: 76vw;
  z-index: 8;
  bottom: 40px;
}
