/* .mapicon.open:hover { */
.mapicon:hover {
    background-color: #c0c0c033;
}

.mapicon {
    width: 67px;
    height: 35px;
    border: 3px solid #8d757591;
    border-radius: 39px;
    cursor: pointer;
}

.dynamic-delete-button {
    margin: 0 8px;
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #999;
    transition: all 0.3s;
}


/* Scale all checboxes */
/* https://stackoverflow.com/questions/306924/can-i-change-the-checkbox-size-using-css#comment84571624_24688640 */
/* TODO detect if Mac and don't do it */
/* https://stackoverflow.com/questions/8493589/is-there-a-css-media-query-to-detect-windows */
.ant-checkbox-wrapper {
    transform: scale(1.3) !important;
}