.map {
    height: 54vh;
    width: 96vw;
    min-height: 300px;
}

.mapwrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leaflet-control-geosearch .results>* {
    text-align: left;
}